<!--?php
  if (!defined('BASEPATH')) exit ('No direct script access allowed');
 $tab=$this->uri->segment(2);
if($this->session->userdata('userType')=='2')
{
redirect('users/logout','');
}
?-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="google-site-verification" content="kseEkxXnth5KVx6iTHUHMwRDwg5rwLVO_bwrUiwS0gs" />
        <script type="text/javascript" async src="https://www.google-analytics.com/analytics.js"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107414131-1"></script>
        <link rel="icon" href="/assets/images/favicon.ico">
        <!--?php
      if(isset($meta_rec)){
        header("Cache-Control: no-store, no-cache, must-revalidate, max-age=0");
        header("Cache-Control: post-check=0, pre-check=0", false);
        header("Pragma: no-cache");
        //$meta_rec = $this->meta_info;
        if (is_array($meta_rec) && !empty($meta_rec)) {
        ?>
        <title><?php echo $meta_rec['meta_title']; ?></title>
        <meta name="description" content="<?php echo $meta_rec['meta_description']; ?>" />
        <meta  name="keywords" content="<?php echo $meta_rec['meta_keyword']; ?>" />
        <?php } ?>
        <title>Zecoex</title>
        <meta name="description" content="" />
        <meta  name="keywords" content="" />

        <?php }else{ ?>
        <title>Zecoex</title>
        <meta name="description" content="" />
        <meta  name="keywords" content="" />
        <?php  }
    ?-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700" rel="stylesheet" type="text/css">
        <link href="/assets/new/css/style.css" type="text/css" rel="stylesheet" media="all">
        <script src="/assets/new/js/html5shiv.js"></script>
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
                var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
                s1.async=true;
                s1.src='https://embed.tawk.to/59f17df94854b82732ff7b7b/default';
                s1.charset='UTF-8';
                s1.setAttribute('crossorigin','*');
                s0.parentNode.insertBefore(s1,s0);
            })();
        </script>
        <!--End of Tawk.to Script-->
    </head>

    <body>
        <div class="hdr-container">
            <header>
                <span class="logo"><a href="https://www.zecoex.com/"><img src="/assets/new/images/logo.png" alt="" /></a></span>
                <aside class="hdr-right">
                    <div class="hdr-ist">IST</div>
                </aside>
            </header>
        </div>

    <div class="clr"></div>

    <div class="container-page">
        <div class="login-page">
            <aside>
                <div class="login-col-lt">
                    <h2>Asia's Fastest Growing Crypto Asset Exchange</h2>
                    <p>We make it easy to buy, sell, store, use and accept Bticoin</p>
                </div>
            </aside>

            <section>
                <div class="login-col-rt">
                    <h1>Forgot Password</h1>
                    <p>Enter your email </p>
                    <!--?php echo form_open_multipart('');?-->
                    <div class="login-row">
                        <input name="email" type="text" value="">
                        <span class="form_error alert-danger" style="text-align:left!important;"></span>

                    </div>
                    <button id="sign-up-button" class="sub-mit-btn" type="submit">Send</button>
                    <!--?php echo form_close();?-->

                </div>
                <div class="pd-40 clr">
                    <span class="invalid fl-right">
                        <div id="errorBox" class="alert alert-danger error1"></div>
                        <div id="successBox"  class="success success1"></div>
                    </span>
                </div>
            </section>
            <div class="clr"></div>
        </div>

        <div class="clr"></div>
    </div>

    <footer>
        <div class="ftr-row">
            <aside>
                <div class="ftr-menu">
                    <a href="https://www.zecoex.com/about.html" target="_blank">About Us</a>
                    <a href="https://www.zecoex.com/about-crypto.html" target="_blank">About Crypto</a>
                    <a href="https://www.zecoex.com/faq.html" target="_blank">FAQ</a>
                    <a href="https://www.zecoex.com/terms-of-use.html" target="_blank">Terms of Use</a>
                </div>
                <div class="ftr-menu ftr-menu-in">
                    <a href="https://www.zecoex.com/aml-policy.html" target="_blank">AML Policy</a>
                    <a href="https://www.zecoex.com/videos.html" target="_blank">Videos</a>
                    <a href="https://www.zecoex.com/kyc-policy.html" target="_blank">KYC Policy</a>
                    <a href="https://www.zecoex.com/privacy-policy.html" target="_blank">Privacy Policy</a>
                    <a href="https://www.zecoex.com/anti-spam-policy.html" target="_blank">Anti-Spam Policy</a></div>
            </aside>

            <div class="ftr-rt-col"><span>Info@zecoex.com</span><br>OR<br>
                <span>Whatsapp Support Available</span></div>
            <div class="clr"></div>
        </div>

        <div class="ftr-copyright">
            <p>&copy; Copyright 2018 Zecoex Techserve Pvt. Ltd. All Rights Reserved.</p>
            <ul class="ftr-follow">
                <li>
                    <a target="_blank" href="https://t.me/zecoexcryptoassetexchange" class='circle'>
                        <i class="fa fa-telegram"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.facebook.com/ZecoexTechservePLtd/" class='circle'>
                        <i class='fa fa-facebook'></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://plus.google.com/u/1/100453186973488857889" class="circle">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.instagram.com/zecoex/" class='circle'>
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.linkedin.com/company/18278944/" class='circle'>
                        <i class='fa fa-linkedin'></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://in.pinterest.com/zecoexTechServePvtLtd/pins/" class='circle'>
                        <i class="fa fa-pinterest-p"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://twitter.com/zecoex/" class='circle'>
                        <i class='fa fa-twitter'></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.youtube.com/channel/UCFrWO0aA7u-S63-dt2pWboA?view_as=subscriber">
                        <i class="fa fa-youtube-play"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="clr"></div>
    </footer>

    </body>
</html>